@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;600;700&display=swap");
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$font-sans-serif: "Open Sans", sans-serif;
$font-serif: "Noto Serif", serif;

:root {
  --#{$prefix}font-sans-serif: #{$font-sans-serif};
  --#{$prefix}font-serif: "Noto Serif", serif;
  --#{$prefix}navbar-active-color: #{$blue-500};
}

.navbar-nav {
  --#{$prefix}nav-link-color: #{$gray-600};
  --#{$prefix}nav-link-font-weight: 700;
  --#{$prefix}nav-link-padding-y: 1rem;
  --#{$prefix}nav-link-padding-x: 2rem;

  @extend .text-uppercase;
}

.carousel-control-next-icon {
  background-image: url("../../assets/img/direction-right.png");
  width: 28px;
}

.carousel-control-prev-icon {
  background-image: url("../../assets/img/direction-left.png");
  width: 28px;
}

.carousel-control-prev,
.carousel-control-next {
  width: fit-content;
  opacity: 1;
  display: flex;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.carousel-indicators {
  [data-bs-target] {
    background-color: $gray-900;
    opacity: 0.7;
    height: 11px;
    border-radius: 10px;
    border-top: none;
    border-bottom: none;
  }
  .active {
    background-color: white;
    opacity: 1;
  }
}

.carousel-caption {
  display: none;
  justify-content: center;
  right: initial;
  left: initial;
  width: 100%;
  background-color: hsl(360, 100%, 100%, 0.3);
  padding: 0;
  margin-bottom: 1.5rem;
  color: black;

  @include media-breakpoint-up(md) {
    display: flex;
  }

  &__content {
    display: inline-flex;
    flex-direction: column;
    background-color: hsla(360, 100%, 100%, 0.7);
    padding: 1.2rem;

    h5 {
      letter-spacing: 0.05em;
    }
  }
}

.btn.btn--pricing {
  border-color: hsla(204, 60%, 49%, 1);
  background-color: hsla(204, 60%, 49%, 1);
  padding: 0.375rem 1.2rem;
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
}

#pricingModal {
  .card-header {
    padding: 1rem 1.5rem;

    &__tier {
      font-size: 1.25rem;
      font-weight: 800;
      margin-block-end: 2rem;
    }
    &__price {
      font-family: $font-serif;
      font-size: 1.25rem;
      color: $blue-500;
      font-style: italic;
      font-weight: 700;
    }
  }

  .list-group-item {
    padding: 1.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .card-footer {
    padding: 1.5rem 1rem;
  }
}

.course-image {
  background-color: $red-400;
  color: white;
}

.featured-course {
  padding: 0;
  background-color: $gray-100;
  border: 1px solid $gray-300;

  &__header {
    height: 180px;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 80% 0%, 100% 0%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);

    &#web {
      background-color: $red-400;
    }
    &#ui {
      background-color: $purple-400;
    }
    &#ux {
      background-color: $blue-400;
    }
    &#interraction {
      background-color: $green-400;
    }

    i {
      font-size: 4.2rem;
      color: white;
    }
  }
  &__body {
    @extend .px-3;
  }
  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  &__text {
    font-size: 0.85rem;
    color: $gray-800;
  }
}
