@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;600;700&display=swap");
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$font-sans-serif: "Open Sans", sans-serif;
$font-serif: "Noto Serif", serif;

$accent-color: hsl(208, 97%, 46%);

:root {
  --#{$prefix}font-sans-serif: #{$font-sans-serif};
  --#{$prefix}font-serif: "Noto Serif", serif;
}

.navbar-nav {
  --#{$prefix}nav-link-color: #{$gray-600};
  --#{$prefix}nav-link-font-weight: 700;

  @extend .text-uppercase;
}

.navbar-toggler {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

#mobileNavbarContent {
  @include media-breakpoint-up(md) {
    display: none;
  }
  &.navbar-nav {
    flex-direction: column;
    font-size: 1rem;
  }
  .nav-link {
    padding: 1rem 1.5rem;
    &.active {
      color: $accent-color;
    }
  }
}

#desktopNavbarContent {
  display: none;
  @include media-breakpoint-up(md) {
    display: flex;
  }

  &.navbar-nav {
    flex-direction: row;
    font-size: 1rem;
  }
  .nav-link {
    padding: 1rem 0.8rem;
    font-size: 0.9rem;
    &.active {
      color: $accent-color;
    }
  }
}

.carousel-control-next-icon {
  background-image: url("../../assets/img/direction-right.png");
  width: 28px;
}

.carousel-control-prev-icon {
  background-image: url("../../assets/img/direction-left.png");
  width: 28px;
}

.carousel-control-prev,
.carousel-control-next {
  width: fit-content;
  opacity: 1;
  display: flex;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.carousel-indicators {
  [data-bs-target] {
    background-color: $gray-900;
    opacity: 0.7;
    height: 11px;
    border-radius: 10px;
    border-top: none;
    border-bottom: none;
  }
  .active {
    background-color: white;
    opacity: 1;
  }
}

.carousel-caption {
  display: none;
  justify-content: center;
  right: initial;
  left: initial;
  width: 100%;
  background-color: hsl(360, 100%, 100%, 0.3);
  padding: 0;
  margin-bottom: 1.5rem;
  color: black;

  @include media-breakpoint-up(md) {
    display: flex;
  }

  &__content {
    display: inline-flex;
    flex-direction: column;
    background-color: hsla(360, 100%, 100%, 0.7);
    padding: 1.2rem;

    h5 {
      letter-spacing: 0.05em;
    }
  }
}

.btn.btn--pricing {
  border-color: hsla(204, 60%, 49%, 1);
  background-color: hsla(204, 60%, 49%, 1);
  padding: 0.375rem 1.2rem;
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
}

#pricingModal {
  .card-header {
    padding: 1rem 1.5rem;

    &__tier {
      font-size: 1.25rem;
      font-weight: 800;
      margin-block-end: 2rem;
    }
    &__price {
      font-family: $font-serif;
      font-size: 1.25rem;
      color: $blue-500;
      font-style: italic;
      font-weight: 700;
    }
  }

  .list-group-item {
    padding: 1.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .card-footer {
    padding: 1.5rem 1rem;
  }
}

.course-image {
  background-color: $red-400;
  color: white;
}

.featured-course {
  padding: 0;
  background-color: $gray-100;
  border: 1px solid $gray-300;

  &__header {
    height: 180px;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(
      0% 0%,
      80% 0%,
      100% 0%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );

    &#web {
      background-color: $red-400;
    }
    &#ui {
      background-color: $purple-400;
    }
    &#ux {
      background-color: $blue-400;
    }
    &#interraction {
      background-color: $green-400;
    }

    i {
      font-size: 4.2rem;
      color: white;
    }
  }
  &__body {
    @extend .px-3;
  }
  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  &__text {
    font-size: 0.85rem;
    color: $gray-800;
  }
}

#carouselQuotes {
  margin-bottom: 4rem;
  background-color: $gray-200;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .blockquote {
    font-style: italic;
    font-size: 1rem;
    font-weight: 500;
  }
  .blockquote-footer {
    margin-top: 0;
    font-weight: 700;
    color: $gray-900;
    &::before {
      content: "- ";
    }
    &::after {
      content: " -";
    }
  }
  .carousel-indicators {
    bottom: 20px;

    [data-bs-target] {
      width: 12px;
      height: 12px;
      background-color: $gray-400;
      border: 1px solid $gray-600;
      @extend .my-auto;
    }
    .active {
      background-color: white;
      height: 15px;
      width: 15px;
    }
  }
}

.offered-course {
  padding: 1.4rem;
  background-color: $gray-200;
  &__title {
    font-size: 1.15rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
  }
  &__text {
    line-height: 1.5;
    font-size: 0.85rem;
    color: $gray-700;
    margin-bottom: 0;
  }
}

.site-footer {
  background-color: $accent-color;
  color: white;
  padding-top: 4rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  gap: 4rem;

  &__top {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }
  &__column {
    width: 100%;
  }
  &__title {
    font-size: inherit;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
  }
  &__list {
    list-style-type: none;
    padding-left: 0;
    li:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }
  &__copyright {
    font-size: 0.75rem;
    font-weight: 500;
  }
  &__socials {
    display: flex;
    gap: 1rem;
  }
}

/* ABOUT US */

.section-header {
  background-color: $accent-color;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__text {
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 0;
    @extend .container;
  }
}

.section-content {
  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  span,
  p,
  li {
    font-size: 0.95rem;
    color: $gray-700;
  }
  ul {
    list-style: inside;
    list-style-image: url("../../node_modules/bootstrap-icons/icons/arrow-right-circle-fill.svg");
  }
}

.btn.btn--readmore {
  border-color: hsla(204, 60%, 49%, 1);
  background-color: hsla(204, 60%, 49%, 1);
  padding: 0.375rem 1.2rem;
  font-weight: 600;
  border-radius: 0;
}

#accordionOurSolution {
  .accordion-button {
    font-size: 0.8rem;
    font-weight: 600;
    background-color: $gray-500;
    color: white;

    &::after {
      all: unset;
    }
    &:not(last-child) {
      margin-bottom: 0.2rem;
    }
  }
}
